// Style overrides for text-box component if needed
:host ::ng-deep .p-inputtext {
  border: 0 solid !important;
  border-radius: var(--radius-xl) !important;
}

:host ::ng-deep .p-inputgroupaddon {
  border-start-start-radius: var(--radius-xl) !important;
  border-bottom-left-radius: var(--radius-xl) !important;
  padding: 0 1rem;
  border: 0 !important;
  border-right: 1px solid var(--color-neutral-500) !important;
  border-end-end-radius: 0 !important;
}
