// Style overrides for text-box component if needed
:host ::ng-deep .p-inputtext {
  border: 0 solid !important;
  border-start-end-radius: 0px !important;
  border-end-end-radius: 0px !important;
}

:host ::ng-deep .p-inputgroupaddon {
  padding: 0 1rem;
  border: 0 !important;
  border-end-end-radius: 0 !important;
}
