// Style overrides for password-box component using PrimeNG p-password
:host ::ng-deep {
  .p-password {
    position: relative;
    width: 100%;
    display: inline-flex;
  }

  .p-password input {
    border: 0 solid !important;
    border-radius: var(--radius-xl) !important;
    box-shadow: none !important;
    width: 100%;
    padding-right: 2.5rem !important;
  }

  .p-inputgroupaddon {
    border-start-start-radius: var(--radius-xl) !important;
    border-bottom-left-radius: var(--radius-xl) !important;
    padding: 0 1rem;
    border: 0 !important;
    border-right: 1px solid var(--color-neutral-500) !important;
    border-end-end-radius: 0 !important;
  }

  // Adjust visibility icon spacing in PrimeNG's password
  .p-password-toggle-mask-icon {
    position: absolute !important;
    top: 50% !important;
    right: 1rem !important;
    color: var(--p-text-muted-color) !important;
    cursor: pointer;
    z-index: 10 !important; // Ensure it stays on top of the input when focused
  }
}
